@model IEnumerable<Iletisim>

<section class="resume-section" id="contact">
    <div class="resume-section-content">
        <h2 class="mb-5">İletişim</h2>
        <form asp-controller="Home" asp-action="Iletisim" method="post">
            <label>Ad Soyad</label>
            <input type="text" class="form-control" name="AdSoyad" />

            <label>E-Mail</label>
            <input type="text" class="form-control" name="Mail" />

            <label>Konu</label>
            <input type="text" class="form-control" name="Konu" />

            <label>Mesaj</label>
            <input type="text" class="form-control" name="Mesaj" />
            <br />
            <button class="btn btn-info">Mesaj Gönder</button>
        </form>
    </div>
</section>