@model IEnumerable<Sertifikalarim>
@{
    Layout = "_AdminLayout";
}
<br />
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Sertifika Ekle</h3>
    </div>
    <form asp-controller="Admin" asp-action="SertifikaEkle" method="post">
        <div class="card-body">
            <div class="form-group">
                <label>Açıklama</label>
                <textarea class="form-control" name="Aciklama" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label>Tarih</label>
                <input type="date" class="form-control" name="Tarih">
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </form>
</div>