@model PortfolioTemplate.Models.SosyalMedya
@{
    Layout = "_AdminLayout";
}
<br />
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Sosyal Medya Güncelle</h3>
    </div>
    <form asp-controller="Admin" asp-action="SosyalMedyaGuncelle" method="post">
        <div class="card-body">
            <div class="form-group">
                <label>ID</label>
                <input type="text" class="form-control" name="SosyalMedyaId" value="@Model.SosyalMedyaId" readonly>
            </div>
            <div class="form-group">
                <label>Ad</label>
                <input type="text" class="form-control" name="Ad" value="@Model.Ad">
            </div>
            <div class="form-group">
                <label>Link</label>
                <input type="text" class="form-control" name="Link" value="@Model.Link">
            </div>
            <div class="form-group">
                <label>Görsel</label>
                <input type="text" class="form-control" name="Icon" value="@Model.Icon">
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </form>
</div>